<a href="https://colab.research.google.com/github/Leocadio22/Repositorio_T_Entrega_Python/blob/main/C%C3%B3pia_de_EXERC%C3%8DCIO_1_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#EXERCÍCIO 5.3
print("Luiz")

Luiz

In [ ]:
#EXERCÍCIO 5.4
a = 3
b = 5
print(2*a * 3*b )

90

In [ ]:
#EXERCÍCIO 5.5
a = 4
b = 5
c = 8
print(a + b + c )

17

In [ ]:
#EXERCÍCIO 5.6
salario = 750
aumento = 15
print (salario + (salario * 15/100))

862.5

In [ ]:
#EXERCÍCIO 5.7
mt = 1
cm = float(input("DIGITE A DISTANCIA EM CENTIMETRO "))
cm = mt * 10
print("A distância em {} cm".format(cm))

DIGITE A DISTANCIA EM CENTIMETRO 3
A distância em 10 cm

In [ ]:
#EXERCÍCIO 5.8
print("--" * 12)
print("<><><> TABUADA <><><>")
numero = int(input("DIGITE O NUMERO DA TABUADA DESEJADA: "))
print('{} x {:2} = {}'.format(numero, 1, numero * 1))
print("{} x {:2} = {}".format(numero, 2, numero * 2))
print('{} x {:2} = {}'.format(numero, 3, numero * 3))
print('{} x {:2} = {}'.format(numero, 4, numero * 4))
print('{} x {:2} = {}'.format(numero, 5, numero * 5))
print('{} x {:2} = {}'.format(numero, 6, numero * 6))
print('{} x {:2} = {}'.format(numero, 7, numero * 7))
print('{} x {:2} = {}'.format(numero, 8, numero * 8))
print('{} x {:2} = {}'.format(numero, 9, numero * 9))
print('{} x {:2} = {}'.format(numero, 10, numero * 10))
print("<><><> FIM <><><>")

------------------------
<><><> TABUADA <><><>
DIGITE O NUMERO DA TABUADA DESEJADA: 7
7 x  1 = 7
7 x  2 = 14
7 x  3 = 21
7 x  4 = 28
7 x  5 = 35
7 x  6 = 42
7 x  7 = 49
7 x  8 = 56
7 x  9 = 63
7 x 10 = 70
<><><> FIM <><><>

In [ ]:
#EXERCÍCIO 5.9
nota1 = float(input("DIGITE A PRIMEIRA NOTA "))
nota2 = float(input("DIGITE A SEGUNDA NOTA "))
media = (nota1 + nota2) / 2
print("A NOTA 1 FOI {}\nA NOTA 2 FOI {}\nA MÉDIA OBTIDA FOI {}".format(nota1, nota2, media))

DIGITE A PRIMEIRA NOTA 5
DIGITE A SEGUNDA NOTA 7
A NOTA 1 FOI 5.0
A NOTA 2 FOI 7.0
A MÉDIA OBTIDA FOI 6.0

In [ ]:
#EXERCÍCIO 5.10
salario = float(input("DIGITE O SALÁRIO ATUAL R$ "))
taxa1 = 15
taxa2 = 10
taxa3 = 5
aumento1 = salario + (salario * taxa1/100)
aumento2 = salario + (salario * taxa2/100)
aumento3 = salario + (salario * taxa3/100)
print("O NOVO SALÁRIO COM O REAJUSTE PARA AS 3 SITUAÇÕES SÃO :\nSITUACÃO 1 R${} TEVE UM AUMENTO DE R${} COM TAXA DE {}%\nSITUAÇÃO 2 R${}\nSITUAÇÃO 3 R${}".format(aumento1,salario*taxa1/100,taxa1, aumento2, aumento3))

DIGITE O SALÁRIO ATUAL R$ 5000
O NOVO SALÁRIO COM O REAJUSTE PARA AS 3 SITUAÇÕES SÃO :
SITUACÃO 1 R$5750.0 TEVE UM AUMENTO DE R$750.0 COM TAXA DE 15%
SITUAÇÃO 2 R$5500.0
SITUAÇÃO 3 R$5250.0